/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #212529;
    background-color: #fff;
    letter-spacing: 1px;
}
button{
    background-color: #ff0e83;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 0.875rem;
    padding: 13px 32px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.5s;
}
button:hover{
    background-color: white;
    color: black;
    border-color: #ff0e83;
}
h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
    letter-spacing: 2px;
}
/* HEADER */
header{
    background-color: #4e2a84;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.header_content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_content ul{
    list-style: none;

}
.header_content ul li{
    display: inline;
    margin: 0 1rem;
    
}
.header_content ul a{
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 2px;
    transition: all 0.3s;
}

.header_content ul a:hover{
    color: #ff0e83;
    
}
.header_content ul .active a{
    color: #ff0e83;
}
.header_content p{
    color: white;
    font-size: 2.1rem;

}
/* CAROUSEL */
.carousel{
    background-image: url(../img/b3.jpg);
    height: 800px;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;

    display: flex;
    justify-content: center; 
    align-items: center;
    
}
.carousel_content h1{
    font-size: 3.5rem;
}
.carousel_content p{
    font-size: 1.1rem;
    padding: 23px 0;
}
.carousel button:hover{
    /* animation: upDown 1s linear 0s 1; */
}
.carousel_content:hover button{
    animation: upDown3 2s 1 alternate-reverse;
}
/* INTRO */
.intro{
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    /* grid-template-columns: repeat(4, 25%); */
    /* fr : phân số */
    grid-template-columns: repeat(4, 1fr);
}

.intro_ab1{
    /* số line bắt đầu */
    /* số line kết thúc */
    /* số cột mà item chiếm */
    /* grid-column: 2 / 4; */
    grid-column: 2 / span 2;

}
.intro_bake{
    grid-column: 1 / span 2;
}
.intro_ab4{
    grid-column: 3 / span 2;
}
.intro_item img{
    width: 100%;
    display: block;
}
.intro_item {
    display: flex;
    text-align: center;
    align-items: center;
    
}
.intro_text{
    padding: 0 32px;
}
.intro_item h3{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.intro_item p{
    color: #c1c1c1;
    font-size: 0.875rem;
    line-height: 29px;

}
.intro .intro_item:first-child,
 .intro .intro_item:nth-child(8){
    background-color: #4e2a84;
}
.intro .intro_item:nth-child(3){
    background-color: #ff0e83;
}
.intro .intro_item:nth-child(4){
    background-color: #ed6498;
}
.intro .intro_item:nth-child(6){
    background-color: #836eaa;
}
/* NUMBER */
.number{
    padding: 70px 0;
}
.number_content{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
/* p:first-of-type */
 .number_item p:first-child{
    font-size: 2rem;
    color: #4e2a84;
    font-weight: 700;

}
.number_item p:nth-child(2){
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 24px 0;
}
/* SERVIECE */
.service{
    background-image: url(../img/s1.jpg);
    background-size: cover;
    text-align: center;
    padding: 70px 0;
}
.service h2{
    color: white;
}
.service_content{
    display: flex;
    width: 70%;
    margin: 0 auto;
}
.service_item{
    padding: 0 20px;
}
.service_item i{
    width: 105px;
    height: 105px;
    line-height: 105px;
    border: 1px solid #4e2a84;
    border-radius: 50%;
    background-color: white;
    color: #4e2a84;
    font-size: 3.75rem;

    transition: all 0.5s;
    
}
.service_item h3{
    font-size: 1.5rem;
    margin: 17px 0;
    font-weight: 500;

}

.service_item p{
    font-size: 0.875rem;
    line-height: 25px;
    padding: 12px 0;
}
.service_item button{
    padding: 12px 27px;
    border-width: 2px;
}
.service_item:hover i{
    color: #ff0e83;
}
/* GALLERY */
.gallery{
    padding: 70px 0;
}
.gallery_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0 15px;
}
.gallery_g1{
    grid-column: 1 / span 2;
}
.gallery_g6{
    grid-column: 3 / span 2;
}
.gallery_item img{
    width: 100%;
    height: 100%;
    display: block;
}
.gallery_item{
    position: relative;
    overflow: hidden;
}
.gallery_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48,132,163,0.2);
    color: white;
    padding: 38px 28px;
    text-align: right;

}
.gallery_overlay h3{
    font-size: 1.875rem;
    transform: translateY(20px);
    transition: all 0.5s;
}
.gallery_item:hover .gallery_overlay h3{
    transform: translateY(0);
}
.gallery_overlay h3 span{
    font-weight: 300;
}
.gallery_overlay p{
    position: absolute;
    bottom: 38px;
    right: 28px;
    font-size: 0.75rem;
    
}
.gallery_overlay h3::after{
    content: "";
    width: 100%;
    height: 5px;
    background-color: white;
    display: block;
    margin-top: 10px;
    transform: translateY(20px);
    transition: all .5s;
    opacity: 0;
}
.gallery_item:hover .gallery_overlay h3::after{
    transform: translateY(0);
    opacity: 1;
}
.gallery_overlay p{
    opacity: 0;
    transform: translateY(50px);
    transition: all .5s;
}
.gallery_item:hover .gallery_overlay p{
    transform: translateY(0);
    opacity: 1;
}
/* TEAM */
.team{
    background-color: #4e2a84;
    padding: 70px 0;
}
.team h2{
    color: white;
}
.team_content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 75%;
    margin: 0 auto;
    gap: 25px 30px;
}
.team_item img{
    width: 100%;
    display: block;
    
}
.team_item{
    position: relative;
    overflow: hidden;
}


.team_item h3, .tea{
    font-size: 1.3rem;
}
.team_item p{
    font-size: 0.875rem;
    line-height: 28px;
}
.team_title{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ff0e83;
    color: white;
    width: 100%;
    padding: 30px;
    opacity: 1;
    transition: all .5s;
}
.team_detail{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.712);
    color: white;
    padding: 100px 40px;
    opacity: 0;
    transition: all .5s;
}
.team_item:hover .team_title{
    opacity: 0;
}

.team_item:hover .team_detail{
    opacity: 1;
}
.team_detail h3{
    color: #ff0e83;
}
.team_tex{
    margin: 8px 0;
}
.team_social{
    margin-top: 24px;
}
.team_social i{
    width: 37px;
    line-height: 37px;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 37px;
    margin: 0 5px;
    transition: all .5s;
}
.team_social i:hover{
    color: #ff0e83;
    border-color: #ff0e83;
}
.team_item2 .team_detail{
    transform: translateX(-100%);
    /* translateY di chuyển theo chiều dọc*/
    /* rotate  xoay tròn*/ 
    /* scale tăng giảm kích thước*/
    /* skew làm méo kích thước  */
}
.team_item2:hover .team_detail{
    transform: translateX(0%);
    
}
/* FEEDBACK */
.feedback{
    background-image: url(../img/cc1.jpg);
    background-size: cover;
    padding: 70px 0;

}
.feedback h2{
    color: white;
}
.feedback_content{
    width: 75%;
    margin: 0 auto;
    border: 3px solid #ed6498;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 32px;
}
.feedback_content i{
    font-size: 1.3rem;
    color: #2cbeff;
    padding: 0 18px;
}
.feedback_content p:nth-child(2){
    color: white;
    text-transform: uppercase;
}
.feedback_content p{
    line-height: 30px;
    letter-spacing: 1.3px;
}
.feedback_content .owl-theme .owl-dots .owl-dot span{
    background-color: rgba(0, 0, 0, 0.5);
}
.feedback_content .owl-theme .owl-dots .owl-dot.active span{
    background-color: black;
}
/* CONTACT */
.contact{
    padding: 70px 0;
}
.contact_form form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 70%;
    margin: 0 auto;
    gap: 15px 30px;
    
}
.contact_form textarea, .contact_form button{
    grid-column: 1 / span 2;
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
}

.contact_form input{
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    transition: all .5s;
}
.contact_form input:focus{
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.contact_form textarea{
    border: 1px solid black;
    resize: none;
}
.contact_form textarea:focus{
    outline: none;

}
.contact_form textarea::placeholder{
    color: black;
}
.contact_form button{
    color: #212529;
    border-radius: 0;
    border-color: black;
}
.contact_form button:hover{
    color: white;
    background-color: black;
    border-color: black;
}
.contact_map iframe{
    width: 100%;
    margin-top: 50px;
}
.contact_info{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 50px;
}
.contact_info i{
    color: #4e2a84;
    font-size: 2rem;
}
.contact_info p{
    font-size: 0.8rem;
    margin: 10px 0;
}
/* FOOTER */
footer{
    padding: 50px 0;
    background-color: black;
    color: white;
}
.footer_main{
    width: 70%;
    margin: 0 auto;
   display: flex;
   padding-bottom: 50px;
}
.footer_item{
    width: 25%;
    padding: 0 20px;
}
.footer_item h3{
    font-size: 1.3rem;
    color:#ff0e83;
    margin-bottom: 1rem;
}
.footer_item p{
    font-size: 0.8rem;
    line-height: 28px;
    padding-bottom: 16px;
}
.footer_social i{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-right: 10px;
    border: 1px solid white;
    transition: all .5s;
}
.footer_social i:hover{
    color: #ff0e83;
    border-color: #ff0e83;
}
.footer_time{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted white;
}
.footer_time p{
    padding: 0;
    margin: 10px 0;
}

.footer_item .footer_sub input{
    margin-bottom: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
.footer_item .footer_sub input:focus{
    outline: none;
}
.footer_item .footer_sub button{
    padding: 7px 16px;
    color: black;
    font-weight: 700;
    border-color:#ff0e83;
    margin-bottom: 24px;
}
.footer_item .footer_sub button:hover{
    border-color: black;
}

.footer_copyright{
    text-align: center;

}
.footer_copyright span{
    color: #ff0e83;
}

/* Back To Top  */
.backToTop{
    position: fixed;
    right: 50px;
    bottom: 50px;
    visibility: hidden;
    opacity: 0;
}
.backToTop i{
    font-size: 2rem;
    color: #0BBBCC;
    border: 2px solid #0BBBCC;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 36px;
    border-radius: 50%;

}
.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
  }

  /* khai báo chuỗi chuyển động  */
  @keyframes upDown {
      0%{}
      50%{
          transform: translateY(-20px);
      }
      100%{
          transform: translateY(0);
      }
  }
  @keyframes upDown2 {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(50px);
    }
}
@keyframes upDown3 {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(50px);
    }
}